@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg-colors-svg{
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.bg-colors-svg-m {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
}

.bg_circle{
  transform-origin: 50% 50%;
  animation: rotate 10s linear infinite;

  @keyframes rotate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
}

/* .button-arrow:hover{
  animation: button-arrow-animation ease-in 0.5s;
}

@keyframes button-arrow-animation {
  0%{
    opacity: 100%;
    x: 0;
    y: 0;
  }
  50%{
    opacity: 0%;
    x: 20;
    y: 0;
  }
  100%{
    opacity: 100%;
    x: -40;
    y: 0;
  }
}*/

.violet-svg-top{
  width: 80vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  filter: blur(500px);
  overflow: hidden;
  flex-shrink: 0;
  fill: linear-gradient(127deg, #FFBEDD -111.63%, #FF23DC 56.77%);
}

.green-svg-middle{
  width: 978.906px;
  height: 878.111px;
  position: absolute;
  z-index: -1;
  top: 200vh;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  fill: linear-gradient(109deg, #3F0 2.19%, #16D5E1 58.47%);
  filter: blur(500px);
}

.yellow-svg-middle{
  width: 976px;
  height: 1320px;
  position: absolute;
  z-index: -1;
  top: 300vh;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
  fill: linear-gradient(94deg, #FF7A00 11.9%, #FFD954 105.3%);
  filter: blur(500px);
}

.pink-svg-bottom{
  width: 1045px;
  height: 1103px;
  max-height: 1103px;
  position: absolute;
  z-index: -1;
  top: 430vh;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  fill: linear-gradient(127deg, #FFBEDD -111.63%, #FF23DC 56.77%);
  filter: blur(500px);
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
